$color1 : rgb(75, 75, 122);
$color2: rgb(211, 228, 172);
$color3 : rgb(172, 94, 161);
$color4: blue;


header, body {
    //background-color: $color1;
}

.site-header,.site-header__mobile-nav {
    //background-color: $color3;
}